<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyz.myBatis.dao.GameAccountIndexMapper" >
  <resultMap id="BaseResultMap" type="com.dyz.myBatis.model.GameAccountIndex" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="game_id" property="gameId" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="accountIndex" property="accountindex" jdbcType="INTEGER" />
    <result column="cardList" property="cardlist" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, game_id, account_id, accountIndex, cardList
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gameaccountindex
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gameaccountindex
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dyz.myBatis.model.GameAccountIndex" >
    insert into gameaccountindex (id, game_id, account_id, 
      accountIndex, cardList)
    values (#{id,jdbcType=INTEGER}, #{gameId,jdbcType=INTEGER}, #{accountId,jdbcType=INTEGER}, 
      #{accountindex,jdbcType=INTEGER}, #{cardlist,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dyz.myBatis.model.GameAccountIndex" >
    insert into gameaccountindex
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="accountindex != null" >
        accountIndex,
      </if>
      <if test="cardlist != null" >
        cardList,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="accountindex != null" >
        #{accountindex,jdbcType=INTEGER},
      </if>
      <if test="cardlist != null" >
        #{cardlist,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dyz.myBatis.model.GameAccountIndex" >
    update gameaccountindex
    <set >
      <if test="gameId != null" >
        game_id = #{gameId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="accountindex != null" >
        accountIndex = #{accountindex,jdbcType=INTEGER},
      </if>
      <if test="cardlist != null" >
        cardList = #{cardlist,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dyz.myBatis.model.GameAccountIndex" >
    update gameaccountindex
    set game_id = #{gameId,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=INTEGER},
      accountIndex = #{accountindex,jdbcType=INTEGER},
      cardList = #{cardlist,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>